<form [formGroup]="loginForm" (ngSubmit)="login()">
    <p class="container__text">
        {{"login.title"|translate}}
    </p>

    <div class="controlName">
        <input type="email" [placeholder]="'global.email'|translate" appTouched [controlName]="getFormCtrl('email')"
            class="input" formControlName="email">
        <div class="erroreMessage">
            <span class="message"
                *ngIf="controlNameErrore('email','reqiredControl')">
                {{'errore.required'|translate}}
            </span>
            <span class="message" *ngIf="controlNameErrore('email','pattern')">
                {{'errore.email'|translate}}
            </span>
        </div>
    </div>
    <div class="controlName">
        <input [placeholder]="'global.password'|translate" appTouched [controlName]="getFormCtrl('password')"
            class="input" type="text" formControlName="password">
        <div class="erroreMessage">
            <span class="message"
                *ngIf="controlNameErrore('password','reqiredControl')">
                {{'errore.required'|translate}}
            </span>
            <div class="message"
                *ngIf="controlNameErrore('password','minlength')">
                <span>
                    {{'errore.requiredLength'|translate}}
                    {{getFormCtrl('password')?.getError('minlength')?.requiredLength}},
                </span>
                <br>
                <span>
                    {{'errore.actualLength'|translate}}
                    {{getFormCtrl('password')?.getError('minlength')?.actualLength}}
                </span>
            </div>
        </div>
    </div>
    <button class="btn">{{'global.submit'|translate}}</button>
</form>